<link rel="stylesheet" href="./develop/css/styles.css" />
<link rel="stylesheet" href="./develop/components/Header/Header.css" />

<header class="header">
  <div class="logo">
    <img src="./develop/assets/logo.svg" alt="meet" />
  </div>

  <div class="hero">
    <div class="hero__image" data-hero-small>
      <img src="./develop/assets/tablet/image-hero.png" alt="" />
    </div>

    <div class="hero__image-left hide">
      <img src="./develop/assets/desktop/image-hero-left.png" alt="" />
    </div>
    <div class="hero__image-right hide">
      <img src="./develop/assets/desktop/image-hero-right.png" alt="" />
    </div>

    <div class="hero__content">
      <h1 class="header--primary">Group Chat for Everyone</h1>
      <p class="hero__text">
        Meet makes it easy to connect with others face-to-face virtually and
        collaborate across any device.
      </p>

      <div class="hero__buttons">
        <button class="btn btn--cyan">Download <span>v1.3</span></button>
        <button class="btn btn--purple">What is it?</button>
      </div>
    </div>
  </div>
</header>
