/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */
  --clr-faded-blue: 192, 37%, 48%;
  --clr-deep-lavender: 268, 34%, 53%;
  --clr-ebony-clay: 240, 21%, 20%;
  --clr-oslo-grey: 240, 10%, 57%;
  --clr-light-blue: 192, 90%, 77%;
  --clr-light-violet: 268, 100%, 86%;
  --clr-alabaster-white: 0, 0%, 98%;

  /* FONT FAMILY */
  --ff-red-hat-display: 'Red Hat Display', sans-serif;

  /* FONT SIZE */
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-body: 1rem;
  --fs-overline: 1rem;

  /* LINE HEIGHT */
  --lh-h1: 2.75rem;
  --lh-h2: 2.25rem;
  --lh-body: 1.625rem;
  --lh-overline: 1.625rem;

  /* FONT WEIGHT */
  --fw-medium: 500;
  --fw-black: 900;

  /* BREAKPOINTS */
  --bp-mobile: 23.4375em;
  --bp-tablet: 48em;
  --bp-desktop: 90em;
}

@media only screen and (min-width: 48em) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-body: 1rem;

    --lh-h1: 3rem;
    --lh-h2: 2.75rem;
    --lh-body: 1.625rem;
  }
}

@media only screen and (min-width: 1400px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 2.5rem;
    --fs-body: 1.125rem;

    --lh-h1: 4rem;
    --lh-h2: 2.75rem;
    --lh-body: 1.625rem;
  }
}

/**------------------- 
**    UTILITIES
--------------------*/
.hide {
  display: none !important;
}

.header--primary {
  color: hsl(var(--clr-ebony-clay));
  font-size: var(--fs-h1);
  font-weight: var(--fw-black);
  line-height: var(--lh-h1);
  text-align: center;
}

.btn {
  border: none;
  border-radius: 1.8125rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.625rem;
}

/**------------------- 
**     GENERAL
--------------------*/
body {
  background-color: hsl(var(--clr-alabaster-white));
  font-family: var(--ff-red-hat-display);
  padding-top: 3rem;
}

/**------------------- 
**  SECTION DIVIDER
--------------------*/
.section-divider {
  display: grid;
  place-items: center;

  margin: 0 auto;
  width: clamp(23ch, 100%, 133ch);
}

.section-divider--1 {
  margin-top: 9.25rem;
}
