<link rel="stylesheet" href="./develop/css/styles.css" />
<link rel="stylesheet" href="./develop/components/Info/Info.css" />

<div class="info">
  <h2 class="info__header">Built for modern use</h2>
  <h3 class="header--secondary">Smarter meetings, all in one place</h3>
  <p class="info_text-content">
    Send messages, share files, show your screen, and record your meetings — all
    in one workspace. Control who can join with invite-only team access, data
    encryption, and data export.
  </p>
</div>
