<link rel="stylesheet" href="./develop/css/styles.css" />
<link rel="stylesheet" href="./develop/components/Footer/Footer.css" />

<footer class="footer">
  <h2 class="header--secondary">Experience more together</h2>
  <p class="footer__text">
    Stay connected with reliable HD meetings and unlimited one-on-one and group
    video sessions.
  </p>
  <button class="btn btn--purple">Download <span>v1.3</span></button>
  <div class="footer__overlay"></div>
  <picture>
    <source
      srcset="./develop/assets/desktop/image-footer.jpg"
      media="(min-width: 1400px)"
    />

    <source
      srcset="./develop/assets/tablet/image-footer.jpg"
      media="(min-width: 48em)"
    />

    <source
      srcset="./develop/assets/mobile/image-footer.jpg"
      media="(min-width: 23.4375em)"
    />
    <img src="./develop/assets/mobile/image-footer.jpg" alt="" />
  </picture>
</footer>
